{% extends "profiles/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Suppression d'un fichier{% endblock title %}

{% block section_one %}
  <section>
    <div class="container my-3">
      <div class="card text-center border-solid">
        <div class="card-body">
          <h1 class="text-primary text-center">Confirmation</h1>
          <p>Le fichier a bien été supprimé !</p>
          <a id="back_button" class="btn btn-primary" href="{% url 'profiles:profile' %}">Retour</a>
        </div>
      </div>
    </div>
  </section>
{% endblock section_one %}