{% extends "profiles/base.html" %}

{% load static i18n %}

{% block title %}Mot de passe changé{% endblock title %}

{% block section_one %}
<section>
  <div class="container my-3">
    <div class="card text-center border-solid">
      <div class="card-body">
        <h1 class="text-primary">Mot de passe mis à jour</h1>
        <p>Félicitations ! Votre mot de passe a bien été mis à jour.</p>
        <a class="btn btn-primary" href="{% url 'profiles:profile' %}">Mon espace</a>
      </div>
    </div>
  </div>
</section>
{% endblock section_one %}