Bonjour,

Vous recevez ce courriel parce que vous avez demandé la réinitialisation du mot de passe de votre compte sur {{ site_name }}.
Merci d'aller sur la page suivante pour choisir un nouveau mot de passe :
{% block reset_link %}
{% ifequal domain 'team-spirit.herokuapp.com' %}https://{% endifequal %}{{ domain }}{% url 'profiles:reset_password_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
Pour mémoire, votre identifiant est votre courriel : {{ user.get_username }}
Merci d'utiliser notre site !

Team Spirit