{% extends "profiles/base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}Mot de passe réinitialisé{% endblock title %}

{% block section_one %}
<section>
  <div class="container my-3">
    <div class="card text-center border-solid">
      <div class="card-body">
        <h1 class="text-primary">Mot de passe réinitialisé</h1>
        <p>Félicitations ! Votre nouveau mot de passe a bien été pris en compte.</p>
        <a class="btn btn-primary" href="{% url 'users:login' %}">Se connecter</a>
      </div>
    </div>
  </div>
</section>
{% endblock section_one %}

