{% extends "profiles/base.html" %}

{% load static i18n %}
{% load account %}

{% block title %}Envoi d'un mail pour réinitialisation du mot de passe{% endblock title %}

{% block inner %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}


{% block section_one %}
<section>
  <div class="container my-3">
    <div class="card text-center border-solid">
      <div class="card-body">
        <div class="text-center">
          <h1 class="text-primary text-center">E-mail envoyé</h1>
          {% if user.is_authenticated %}
            <p>
              <strong>Remarque :</strong> vous êtes déjà connecté(e) en tant que {{ user.get_username }}
            </p>
          {% endif %}
          <p>Si votre e-mail est valide et rattaché à un compte existant sur notre site, nous venons de vous envoyer un lien de réinitialisation de votre mot de passe.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock section_one %}



{% block section_one_text %}
  <div class="text-center">
    <p>Si votre courriel est valide et rattaché à un compte existant sur notre site, nous venons de vous envoyer un lien de réinitialisation de votre mot de passe.</p>
  </div>
{% endblock section_one_text %}