{% extends "profiles/base.html" %}

{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}Définition du nouveau mot de passe{% endblock title %}

{% block section_one %}
<section>
  <div class="container my-3">
    <div class="card text-center border-solid">
      <div class="card-body">
        <h1 class="text-primary">{% trans "Set Password" %}</h1>
        <form method="post">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock section_one %}

